* {
  background-color: white;
  text-align: center;
}
.btnn {
  background-color: peachpuff;
  color: red;
  border-radius: 9px;
  padding: 5px;
}
.btnn:hover {
  background-color: #f9c2a2;
}
.img1 {
  padding-top: 3%;
}

.some{
 width: 1000px;
}

.down {
  color: black;
  display: flex;
  margin-left: 20%;
  padding: 2% 2%;
}
.container{
    border:solid black;
    border-style:black ;
    display: grid;
    /* grid-template-rows: 50px; */
    padding: 20px;
}

.img3{
    margin-right: 35%;
    padding: 2% 2%;
}
.par1{
    margin-left: 30%;
    justify-content: end;
}
.btn1{
 border-radius: 10px;
 padding: 20px;
 border: 1px solid rgb(225, 222, 222);
}
.btn2{
  border-radius: 10px;
 padding: 20px;
 border: 1px solid rgb(225, 222, 222);
}
.btn3{
   border-radius: 10px;
 padding: 20px;
 border: 1px solid rgb(225, 222, 222);
}
.btn4{
   border-radius: 10px;
 padding: 20px;
 border: 1px solid rgb(225, 222, 222);
}
.btn5{
  border-radius: 10px;
 padding: 20px;
 border: 1px solid rgb(225, 222, 222);
}
.btn6{
    border-radius: 10px;
 padding: 20px;
 border: 1px solid rgb(225, 222, 222);
}
.head{
  padding-top: 10px;
  margin-top: 80px;

}
.link{
  margin-top: 50px;
}
.col1{
 
}
.gs{
  text-decoration: none;
  color: rgb(171, 44, 44);
  font-weight: bolder;
}
.nav-link{
    color: black;
}
.btn-si{
    margin-right: 20px;
}
.btn-sun{
    margin-right: 10px;
}

    @media only screen and (min-width: 110px) and (max-width: 1024px) {
        .learn{
          width: 50%;
        }

        .some{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .download{
          width: 50%;
          font-size: 10%;
          display: block;
          text-align: center;
          justify-self: center;
        }

        
    }

